body {
    margin: 20px;
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
}

h4 {
    color: #8990A3;
    margin-top: 3px;
    margin-bottom: 5px;
}
.info {
    padding: 1px;
}
.avatar {
    width: 120px;
    border: 5px double #BF902A;
    border-radius: 50%;
}

.card {
    min-width: 350px;
    max-width: 400px;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: #D4F4FF;
    color: #127475;
    border: 6px double #95AC7C;
    border-radius: 50px;    
}

.dark {
    color: #BF902A;
    font-family: 'Pacifico', cursive;
    margin-top: 0px;
    font-size: 20px;
    border-bottom: 4px double #95AC7C;
    text-shadow: 2px 0px 1px white;
}
